/* CSS Document */

body {
	text-align: center;
	background-color: #E8E8E8;
}

button {
	padding: 1rem 2rem;
	border-radius: 10px;
	border: none;
	background-color: #38E3FF;
	cursor: pointer;
	color: #000;
	font-size: 1rem;
	font-weight: bold;
	box-shadow: 2px 3px 8px #333;
}

button:hover {
	background-color: #000C97;
	color: #fff;
	font-style: italic;
}